.container {
  width: 100vw;
  height: 100vh;
  background: #09aafa;
  display: flex;
  .left{
    width: 150px;
    height: 100%;
    background: #33b249;
  }
  .content{
    padding: 20px;
    flex: 1;
    height: 100%;
    background: #535bf2;
  }

}
